* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Poppins", sans-serif;

  line-height: 1.5;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-size: cover;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

.container {
  max-width: 1200px;
  /* margin: 0 auto; */
  padding: 10px 20px;
  border-radius: 10px;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
button {
  color: #f9f9f9;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  background-color: yellowgreen;
  width: 40%;
  padding: 10px 30px;
  text-align: center;
  color: #f9f9f9;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
h1 {
  font-size: 5rem;
}
